@inherits LayoutComponentBase

@inject IHttpContextAccessor HttpContextAccessor
@using System.Security.Claims

<div class="top-bar">
    <a class="logo" href="">
        <img src="img/logo2.png" />
    </a>
    <div class="user-info">
        <LoginDisplay />
        <div class="nav-links">
            <NavLink href="" class="nav-tab" Match="NavLinkMatch.All">
                <div>الرئيسية</div>
            </NavLink>
            @if (HttpContextAccessor.HttpContext.User?.Identity?.IsAuthenticated == true)
            {
                @if (HttpContextAccessor.HttpContext.User.IsInRole("Admin"))
                {
                    <NavLink href="/admin/dashboard" class="nav-tab">
                        <div>الإدارة</div>
                    </NavLink>
                }
            }
        </div>
    </div>
</div>

<div class="content">
    @Body
</div>

<div id="blazor-error-ui">
    حدث خطأ غير متوقع.
    <a href="" class="reload">إعادة تحميل</a>
    <a class="dismiss">🗙</a>
</div>
