@inherits LayoutComponentBase
@layout AccountLayout

<div class="account-manage-container">
    <div class="account-manage-card">
        <div class="account-manage-content">
            <div class="account-manage-sidebar">
                <ManageNavMenu />
            </div>
            <div class="account-manage-body">
                @Body
            </div>
        </div>
    </div>
</div>
